:root {
  --color-1: white;
  --color-2: red;
  --color-3: white;
  --color-4: yellow;
  --bg-color: rgb(254, 128, 0); /* orange */
  --nav-color: black;
  --nav-text-hover: yellow;

  --width: 300px;
  --x-speed: 13s;
  --y-speed: 7s;
  --transition-speed: 2.2s;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--color-3);
  font-family: "Recursive", cursive;
  /* background-size: cover; */
}

nav {
  background-color: rgb(254, 128, 129);
  position: fixed;
  top: 0;
  z-index: 3;
}

nav ul {
  display: flex;
  width: 100vw;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  color: var(--color-1);
  font-size: 1.5em;
}

nav ul li:hover {
  color: var(--nav-text-hover);
  font-variation-settings: "wght" 700;
}

main {
  position: absolute;
  top: 80px;
}

.container {
  display: flex;
  width: 100vw;
  /* height: 100vh; */
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

.box {
  z-index: 5;
  width: 75%;
  height: 100%;
  /* background-color: rgba(256, 0, 256, 0.5); */
  position: absolute;
  top: 0;
}

.box h1 {
  font-size: 6em;
  line-height: 1.25em;
  margin-top: 0.75em;
  margin-right: 15%;
}

/* .box h1:hover {
  background-color: var(--color-2);
} */

.box p {
  margin-right: 25%;
  margin-top: 1em;
  font-size: 1.25em;
  line-height: 1.5em;
  /* background-color: rgba(256, 128, 128, 1);
  padding: 0.5em; */
}

.social {
  font-variation-settings: "wght" 800;
  color: var(--color-4);
}

.el {
  z-index: 0;
  width: var(--width);
}

.x {
  animation: x var(--x-speed) linear infinite alternate;
}
.y {
  animation: y var(--y-speed) linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--width) - 80px));
  }
}
